$box-shadow-base:0 0 1rem 1rem rgba(black, .2);

$color-black: #000;
$color-white: #fff;

$background-color: #f9b384;

$background-color-2: #919499;
$background-color-3: #f9b384;
$background-color-4: #e97770;

$deafult-font-size: 1.6rem;