// VIEW 600PX
@include respond(tab-port) {

    // HEADER FOR 600PX
    .header {
        &__h1 {
            font-size: 6rem;
        }

        &__paragraph {
            margin: 5rem 2rem 0;
            font-size: 1.8rem;
        }

        &__btn {
            font-size: 1.6rem;
        }
    }

    // STORIES FOR 600PX
    .stories {
        padding: 3rem 4rem 2rem;
        line-height: 1.6;

        &__heading {
            font-size: 4.5rem;
        }

        .story {
            position: relative;

            margin: 4rem 0;
            padding: 3rem 5rem 4rem;

            &__tertiary {
                font-size: 2.2rem;
            }

            &__box {
                height: 100%;

                &-img {
                    height: 100%;
                    width: 40rem;
                }

                &-caption {
                    display: block;
                    position: absolute;
                    bottom: 2rem;
                    right: 4rem;
                    background-color: $color-white;
                    padding: 1rem;
                    border-radius: 10px;
                    box-shadow: $box-shadow-base;
                    font-family: 'PermanentMarker';

                    &--1 {
                        &::after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            top: -50%;
                            left: -20%;
                            background-color: $color-white;
                            height: 83%;
                            width: 112%;
                            z-index: 15;
                        }
                    }

                    &--2 {
                        &::after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            top: -50%;
                            left: -20%;
                            background-color: $color-white;
                            // background-color: yellow;
                            height: 82%;
                            width: 113%;
                            z-index: 15;
                        }
                    }
                }
            }

            &__text {
                padding: 2rem 2rem 3.7rem;
            }
        }
    }

    // TOURS FOR 600PX
    .tours {
        padding: 0 4rem 1rem;

        &__heading {
            font-size: 4.5rem;
            padding: 1rem 2rem 6rem;
        }

        &__lists {
            width: 50%;
        }

    }

    // DREAM-NIGHT FOR 600PX
    .dream-night {

        &__heading {
            font-size: 2.5rem;
        }

        &__text {
            font-size: 1.8rem;
        }
    }

    // CONTACT FOR 600PX
    .contact {
        &__heading {
            padding: .5rem;
            font-size: 3.5rem;
        }

        &__text {
            max-width: 60rem;
            margin-left: 10rem;
        }
    }

    // FOOTER FOR 600PX
    .footer {
        border-top: $color-grey 2px solid;
        padding: 2rem 2rem 1rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &__icons {
            margin-bottom: 4rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__link {
            display: inline-block
        }

        &__icon {
            font-size: 4rem;
            color: $color-grey;
            cursor: pointer;
        }

        &__paragraph {
            font-size: 1.8rem;
            color: $color-white;
        }
    }
}