%font-basic {
    font-weight: 700;
    line-height: 1.2;
}

.dream-night {
    .grid {
        display: none;
    }

    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    background: url(../img/background-on-video-640.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: $deafult-font-size;
    margin: 1rem 0;
    color: $color-grey;


    &__heading {
        padding: 6rem 3rem 4rem;
        font-size: 1.8rem;
        @extend %font-basic;

        @media screen and (orientation: landscape) and (max-width: 599px) {
            font-size: 2.5rem;
        }
    }

    &__text {
        padding: 3rem 3rem 6rem;
        // font-size: 1.8rem;
        @extend %font-basic;
    }
}