.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 2rem;
        border-radius: 10rem;
        background-color: $color-white;
        display: inline-block;
        font-weight: 700;
        color: black;
        position: relative;
        transition: transform .2s, box-shadow .2s;

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .6);
    }

    &:active {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .6);
    }


}